
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card-header bg-primary text-white text-center fw-bold">
    Thông tin bonus
</div>
<ul class="list-group shadow-lg rounded-3" style="max-width: 400px; margin: auto;">
    <li class="list-group-item list-group-item-action">
        📘 Giới thiệu về khóa học
    </li>
    <li class="list-group-item list-group-item-action">
        📝 Bài tập lập trình
    </li>
    <li class="list-group-item list-group-item-action">
        📊 Kết quả học tập
    </li>
    <li class="list-group-item list-group-item-action">
        📅 Lịch thi và kiểm tra
    </li>
    <li class="list-group-item list-group-item-action">
        📧 Liên hệ giảng viên
    </li>
</ul>
